main{
    width: clamp(320px,85%,460px);
    text-align: center;
    margin: 2rem 0;
  
}

h1{
    font-size: clamp(1.4rem,6vw,2rem);
    margin: 2rem 0 1rem 0;
    color:var(--Gray);
    font-weight:300 ;
}
h1>span{
    font-weight: 700;
    color: var(--Very-Dark-Blue);
}
h2{
    font-weight:300 ;
    font-size: clamp(.5rem,5vw,1.4rem);
    margin-bottom: 1.6rem;
}

.email-form{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 4rem;
}
.email-form> *{
    display: block;
    width: 100%;
}

.input-email,.submit-btn{
    border-radius: 30px;
    padding: .8rem;
    outline: none;
    font-size: .8rem;
    width: 100%;
    
}
.input-email{
    border: 1px solid var(--Gray);
    outline: none;
}
.input-emai:focus{
    border: 1px solid var(--Pale-Blue);
}
.input-error{
    border: 2px solid var(--Light-Red) !important;
}
.message{
    text-align: left;
    font-size: .7rem;
    margin:.3rem 0 1rem 2rem;
    color:var(--Light-Red) ;
    font-style: italic;
}
.input-email::placeholder{
    opacity: .6;
   
}
.submit-btn{
    background-color: var(--Blue);
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 3px 10px 0 var(--Blue);
}
.submit-btn:hover{
    opacity: .8;
}





.image-container{
width: 100%;
}

.image-container >img{
    display: block;
    width: 100%;
}



.main-footer{
    margin-top: 3rem;
}
.social-links{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.social-links div{
   display: grid;
   place-items: center;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   border: 1px solid var(--Pale-Blue);
   cursor: pointer;
}
.social-links div:hover{
    background-color: var(--Blue);
    border: none;
}
.social-links div:hover img{
    filter: brightness(0) invert(1);
}
.copyRight{
    margin-top: 1rem;
    color:var(--Gray) ;
    font-size: .6rem;
}

@media(min-width:650px){
    main{
        width: clamp(630px,85%,700px);
    }
    h2{
        
        font-size: clamp(.5rem,5vw,1rem);
    }
  
    .email-form{
        flex-direction: row;
        
    }
    .input-container{
        width: 65%;
    }
    .submit-btn{
        width: 35%;
        align-self: flex-start;
    }
    .message{
        margin:.3rem 0 0 2rem;
    }
}